* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/images/gold.jpg");
    background-repeat: none;
    background-size: cover;
}
img {
    width: 280px;
    height: 150px;
}
#link {
    text-decoration: none;
    color: black;
}
#counter {
    display: inline-block;
    float: left;
    margin: 30px;
    text-shadow: 3px 3px 2px #FFC107;
}
#ninjagold {
    display: inline-block;
    font-size: 78px;
    font-weight: bold;
    margin: 60px 260px 20px 0px;
    text-shadow: 3px 3px 2px #FFC107;
}
#location {
    margin: 10px;
}
#desc {
    font-size: 25px;
    margin: 20px auto;
}
#container {
    width: 1300px;
    height: 800px;
    margin: 45px auto;
    background-color: white;
}
#header {
    height: 150px;
    width: 1295px;
    margin: 5px auto;
    text-align: center;
}
#forms {
    width: 1295px;
    height: 400px;
    text-align: center;
    margin: 5px auto;
}
#output {
    overflow-y: scroll;
    height: 225px;
    padding: 20px;
}
.form {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 350px;
    margin: 20px 5px 20px 5px;
}
.earned {
    color: green;
}
.lost {
    color: red;
}