body {
	text-align: center;
	padding-top: 100px;
}
h1 {
	font-size: 55px;
}
#field {
	height: 50px;
	width: 300px;
}
#btn {
	font-size: 22px;
	font-weight: bold;
	padding: 15px;
}
#container {
	width: 300px;
	height: 400px;
	margin: 100px auto;
	font-size: 48px;
}
#error {
	color: red;
}