@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	text-align: center;
}
h1 {
	font-size: 45px;
}
#container {
	width: 1100px;
	margin: 0 auto;
}
.red {
	display: inline-block;
	width: 75px;
	height: 75px;
	background-color: red;
}
.black {
	display: inline-block;
	width: 75px;
	height: 75px;
	background-color: black;
}