* {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 3.5rem;
}
table {
	margin-top: 2rem;
}
#container {
	width: 85%;
	height: 52rem;
	margin: 3rem auto;
}
#leftpanel {
	
}
#rightpanel {
	
}
.dark {
	border: .25rem solid black;
}
.shiftright {
	float: right;
}